<!DOCTYPE html> 
<html> 
 	<head> 
	 	<title><%= title %> - myblog</title> 
	 	<!-- 最新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
		<!-- 引入自定义样式 -->
		<link rel="stylesheet" href="/stylesheets/style.css">
 	</head> 
 	<body> 
 
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		    <div class="container">
		        <div class="navbar-header">
		          	<a class="navbar-brand" href="#">我的博客</a>
		        </div>
		    </div>
	    </div>

	    <div class="container">
		    <!-- Example row of columns -->
	      	<div class="row">
		        <div class="col-md-4">
		        	<% if (locals.success&&locals.success.length) { %> 
					 	<div class="alert alert-success"> 
					 		<%= locals.success %> 
					 	</div> 
					<% } %> 
					<% if (locals.error&&locals.error.length) { %> 
					 	<div class="alert alert-warning"> 
					 		<%= locals.error %> 
					 	</div> 
					<% } %>

		            <%- body %> 
		        </div>
	        </div>
	      	<hr>
	      	<footer>
	        	<p>© JIMMYCHOU 2014</p>
	      	</footer>
	    </div>
 		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
 	</body> 
</html>